<% include Header %>
<div class="container-fluid">
	<div class="row"></div>
	<div ></div>
	<div class="jumbotron col-lg-12" >
		<div class="col-lg-3"></div>
		<form action="/aps" method="POST" class="col-lg-5">
			<div class="form-group" >
				<input class="form-control" type="text" name="name" placeholder="name of the Product">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="state" placeholder="State">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="city" placeholder="City">
			</div>
			
			<button class="btn btn-lg btn-primary btn-block "> submit </button>
			
		</form>
	</div>
</div>

<% include Footer %>