<% include Header %>
<div class="container-fluid">
	<div class="ui tall stacked segment violet">
		<h4 class="ui center aligned tall stacked segment green ">
		Group 19
		Our Team
		</h4>

		<div class="ui link cards ">
		  	<div class="card col-lg-4" style="margin-left: 5%">
		    	<div class="image">
		      		<img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
		    	</div>
			    <div class="content">
			      	<div class="header">Praful</div>
			      	<div class="description">
			        	IIT2016082@iiita.ac.in
			      	</div>
			    </div>
			    <div class="extra content">
			      	<span class="right floated">
			        	Joined in 2018
			      	</span>
			      	<span>
			        	<i class="user icon"></i>
			        	75 Friends
			      	</span>
			    </div>
		  	</div>
		  	<div class="card col-lg-4" style="margin-left: 10%">
		    	<div class="image">
		      		<img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
		    	</div>
			    <div class="content">
			      	<div class="header">Saurabh</div>
			      	<div class="description">
			        	IIT2016087@iiita.ac.in
			      	</div>
			    </div>
			    <div class="extra content">
			      	<span class="right floated">
			        	Joined in 2018
			      	</span>
			      	<span>
			        	<i class="user icon"></i>
			        	75 Friends
			      	</span>
			    </div>
		  	</div>
		  <div class="card col-lg-4" style="margin-left: 10%">
		    	<div class="image">
		      		<img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
		    	</div>
			    <div class="content">
			      	<div class="header">Shubahm </div>
			      	
			      	<div class="description">
			        	IIT2016084@iiita.ac.in
			      	</div>
			    </div>
			    <div class="extra content">
			      	<span class="right floated">
			        	Joined in 2013
			      	</span>
			      	<span>
			        	<i class="user icon"></i>
			        	75 Friends
			      	</span>
			    </div>
		  	</div>
		</div>
	</div>
</div>




<% include Footer %>