<% include Partials/GoodsHeader %>
<% include Partials/GoodsNavbar %>
<% include GoodsLogin %>

<div class="ui container">
	<div class="ui tall stacked segment violet">
		<h4 class="ui center aligned tall stacked segment inverted ">
		Group 19
		Our Team
		</h4>

			<div class="ui grid">

				<div class="three column row">
					
						<div class="column">
						<div class="ui link cards ">
						  	<div class="card " >
						    	<div class="image">
						      		<img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
						    	</div>
							    <div class="content">
							      	<div class="header">Praful</div>
							      	<div class="description">
							        	IIT2016082@iiita.ac.in
							      	</div>
							    </div>
							    <div class="extra content">
							      	<span class="right floated">
							        	Joined in 2018
							      	</span>
							      	<span>
							        	<i class="phone icon"></i>
							        	75093475
							      	</span>
							    </div>
						  	</div>
						 </div>
						</div>
					  	<div class=" column">
					  	<div class="ui link cards ">
						  	<div class="card ">
						    	<div class="image">
						      		<img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
						    	</div>
							    <div class="content">
							      	<div class="header">Saurabh</div>
							      	<div class="description">
							        	IIT2016087@iiita.ac.in
							      	</div>
							    </div>
							    <div class="extra content">
							      	<span class="right floated">
							        	Joined in 2016
							      	</span>
							      	<span>
							        	<i class="phone icon"></i>
							        	7592375825
							      	</span>
							    </div>
						  	</div>
						 </div>
						 </div>
					  	<div class=" column ">
					  	<div class="ui link cards ">
						  	<div class="card " >
						    	<div class="image">
						      		<img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
						    	</div>
							    <div class="content">
							      	<div class="header">Shubahm </div>
							      	
							      	<div class="description">
							        	IIT2016084@iiita.ac.in
							      	</div>
							    </div>
							    <div class="extra content">
							      	<span class="right floated">
							        	Joined in 2016
							      	</span>
							      	<span>
							        	<i class="phone icon"></i>
							        	793769837683
							      	</span>
							    </div>
						  	</div>
						 </div>
						</div>
				</div>
			</div>
		
	</div>
</div>


<% include Partials/Footer %>