<div class="row" style="padding-top: 80px"></div>

<div class="ui horizontal divider"> FeedBack</div>
<div class="row"> </div>

<div class="ui main text piled container segment">
	<div class="ui huge header">Complaint</div>
	<form class="ui form" action="/Complaint" method="POST">
		<div class="field">
			<label>Name</label>
			<input type="text" name="Cname" placeholder="Name">
		</div>
		<div class="field">
			<label>Subject</label>
			<input type="text" name="Csubject" placeholder="Name">
		</div>
		<div class="field">
			<label>Complaint</label>
			<textarea  name="Cbody" placeholder="complaint">
			</textarea>
		</div>
		
		<button class="ui green basic button" type="submit"> <i class="paper plane icon"></i>submit</button>
	</form>
</div>
<div class="container-fluid" style="padding-top: 80px">
	
			<div class="text-center">
			<span class="text-center" class="copyright">Copyright © 2018,
		 	Made By Group No. 19,
			All rights Reserved </span></p>
			</div>
</div>
</body>
</html>