<% include Partials/GoodsHeader %>
<% include Partials/BuyList %>
<% include GoodsLogin %>
<% include Partials/TodayPrice %>

<div class="ui vertical sidebar menu" id="mySidenav" style="margin-top: 500px;">
  <div class="item">
    <div class="ui input"><input type="text" placeholder="Search..."></div>
  </div>
  <div class="item">
    Home
    <div class="menu">
      <a class="active item">Search</a>
      <a class="item">Add</a>
      <a class="item">Remove</a>
    </div>
  </div>
  <a class="item">
    <i class="grid layout icon"></i> Browse
  </a>
  <a class="item">
    Messages
  </a>
  <div class="ui dropdown item">
    More
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item"><i class="edit icon"></i> Edit Profile</a>
      <a class="item"><i class="globe icon"></i> Choose Language</a>
      <a class="item"><i class="settings icon"></i> Account Settings</a>
    </div>
  </div>
</div>
  <div class="pusher">
   <% include Partials/GoodsNavbar %>



<div class="ui container">
	<div class="ui grid">
		<div class="row">
			<div class="six wide column">
				<div class="ui piled segment">
					<h4 style="text-align: center;"> 
						Transaction
					</h4>
					<form action="/Products" method="POST">
						<div class="ui form" >
						  <div class="field ">
    				      <label>Product Name</label>
    				      <input placeholder="Product Name" type="text" name= "pname">
    				    </div>
    				    <div class="field">
    				      <label>Quantity</label>
    				      <input placeholder="Quantity" type="text" name= "weight">
    				    </div>
		                <div class="field">
		                  <label>Username</label>
		                  <input placeholder="Username" type="text" name= "wname">
		                </div>
    				  
    				  <div class="field ">
    				    <label>City</label>
    				      <input placeholder="City" type="text" name= "wscName">
    				  </div>
    				  <div class="field ">
    				    <label>State</label>
    				      <input placeholder="State" type="text" name= "wssName">
    				  </div>
    				  <div class="ui buttons ">
    	  				<button class="ui button" >Cancel</button>
    	  				<div class="or"></div>
    	  				<button class="ui positive button" type="submit">Save</button>
    				   </div>
						</div>
					</form>
				</div>
			</div>
			<div class="two wide column"></div>
			<div class="six wide column">
				<div class="ui piled segment" >
					<div class="ui segments ">
						<div class="ui green segment">
				    		<p> top</p>
				  		</div>
				  		<div class="ui green segment">
				    		<p> top</p>
				  		</div>
				  		<div class="ui green segment">
				    		<p> top</p>
				  		</div>
				  		<div class="ui green segment">
				    		<p> top</p>
				  		</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="ui container">
	<div class="ui grid">
		<div class="row">
			<button class="ui button basic green" type="submit" onclick="dell()">hello</button>
		</div>
	</div>
</div> -->

<div class="ui horizontal divider" >wsg</div>

<div class="ui container">
  <div class="ui grid">
  	<h2 style="display: center;">our Products</h2>
  	<div class="row">
    <% var c = 0 %>
    <% for (var i = 0; i < Products.length; i++) {%>
      <div class="four wide column">
        <div class="ui link cards">
          <div class="card">
            <div class="image">
              <img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
            </div>
            <div class="content">
              <div class="header">Matt Giampietro</div>
              <div class="meta">
                 <a>Friends</a>
              </div>
              <div class="description">
                Matthew is an interior designer living in New York.
              </div>
            </div>
            <div class="extra content">
              <span class="left floated">
                <h4> <i class="cart arrow down icon"></i> <%= Products[i].userName %> </h4>
                 <!-- <p> 
                	 <%=Products[i].userName %></p>   -->
              <button onclick="fer()" id="myBtn" class="ui button basic grey huge"><i class="ui arrow icon">Buy</i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <% c += 1 %>
     <% if (c%4 == 0) {%>
        <div class="ui horizontal divider">sgsgsd</div>
     <% } %>
      <% } %>
   
      </div>
  </div>
</div>

<div class="ui modal" id="modal">
  <i class="close icon"></i>
  <div class="header">
    Profile Picture
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
    </div>
    <div class="description">
      <div class="ui header">We've auto-chosen a profile image for you.</div>
      <form class="ui form" action="/pds" method="POST">
  <div class="field">
    <label>Name</label>
    <input type="text" name="uname" placeholder="Name">
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
<% include Partials/Footer %>
 
 
