<% include Header %>

<div class="container">
	<div class="row">
	<div class="ui tall stacked  segment green ">
		<h1 style="text-align: center;"> Create a New Account </h1>
		<div style="width: 30%; margin: 25px auto;">
			<form action="/Register" method="POST">
			<div class="form-group">
				<input class="form-control" type="text" name="name" placeholder="name">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="password" placeholder="password">
			</div>
			<div class="form-group">
				<button class="ui green basic button"> submit </button>
			</div>
			</form>
			<a href="/Home">
				go back
			</a>
		</div>
	</div>
	</div>
</div>
</body
</html>