<div id="id01" class="modal container">
  
  <form class="modal-content animate container" action="/Home" method="POST" id="Login">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="https://semantic-ui.com/images/avatar2/large/matthew.png" alt="Avatar" class="avatar ui image small">
    </div>


    <div class="container-fluid">
    <form action="/dump" method="POST">
  <div class="ui large form">
  <div class="two fields">
    <div class="field">
      <label>UserName</label>
      <input placeholder="UserName" type="text" name="wuName">
    </div>
    <div class="field">
      <label>Product Name</label>
      <input placeholder="Product Name" type="text" name="wpName">
    </div>
    <div class="field ">
      <label>Product Weight</label>
      <input placeholder="Product Weight" type="text" name="wpWeight">
    </div>
  </div>

  <button class="ui col-lg-2 green basic submit button" >Submit</button>
  
</div>
</form>
    </div>

    <div class="container-fluid" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn" id="btn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>