<div class="ui container">
<div class="ui  top fixed inverted menu borderless segment large">
  <a class="active item" href="/Home">
    <i class="home icon"></i> E-Mandi
  </a>
  <div class="right menu">
	  <a class="item" href="#" onclick="Price()">
	    <i class="dollar icon"></i>Todays Price
	  </a>
	  <a class="item" href="/Products">
	    <i class="calendar alternate icon"></i>Products
	  </a>
	   <a class="item" href="/Goods">
	    <i class="plus icon"></i>Add My Product
	  </a>
	 
	  	<form action="/BuyList" method="POST" class="ui simple dropdown item" >
			    <i class="plus icon"></i>BuyList
			    <i class="dropdown icon"></i>
			    <div class="menu">
			      
			      <div class="item" onclick="BuyList()">List</div>
			      <div class="item"><button class="ui button basic grey huge" type="submit" >Refresh</button></div>
			      
			    </div>
	  	
	  	</form>
	  
	   <a class="item" href="/Register">
	    <i class="user plus icon"></i>Register</a></i>
	  </a>
	   <a class="item" onclick="Login()">
	    <i class="sign in alternate icon"></i>Login
	  </a>
	  <a class="item" href="/Profile">
	  	<i class="address book outline icon"></i>Profile</a>
	  </a>
	  <a class="item" href="/Contact">
	  	<i class="phone icon"></i>Contact US</a>
	  </a>
	</div>
</div>
</div>
<div class="row" style="margin-top: 5.5%"></div>