<!DOCTYPE html>
<html lang="en">
<head>
  <title>E-Mandi</title>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
  <script src="http://semantic-ui.com/dist/semantic.min.js"></script>
  <script type="text/javascript">
  function fer() {
    alert();
    $('#modal').modal('show');
  }
    function dell() {
      // body...
      $('.ui.sidebar')
  .sidebar('toggle')
;
    }
    function BuyList(){
      alert();
      $("#Buy")
  .modal('show')
;
    }

function Login(){
  alert();
  $('#xyz')
  .modal('show')
;
}
function Price()
{
  alert();
  $('#toPrice').modal('show');
}
</script>
  <script type="text/javascript" src="Login.js"></script>
</head>
<body>


