<!DOCTYPE html>
<html>
	<head>
		<title> 
			E-MANDI 
		</title>

	  	

			<!--Bootstrap css -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

			<!--Jquery -->
	  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  		
	  		<!-- Bootstrap js -->
	  		<script src="http://semantic-ui.com/dist/semantic.min.js"></script>
	  		<!-- Semantic css-->
	  		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.css">

	  		
			
			<!-- login js-->
			<script type="text/javascript">
				function Login()
				{
					alert();
					$('#xyz')
  					.modal('show')
					;
				}
				function Price()
				{
					alert();
					$('#toPrice').modal('show');
				}
			</script>
	</head>
