
<body>
<div class="container-fluid">
	<nav class="nav navbar navbar-default navbar-fixed-top navbar-collapse "  >
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><i class="home icon"></i>E-MANDI</a>
			</div>
			<div class="collapse navbar-collapse" >
				<ul class="nav navbar-nav navbar-right" >
					<li>
						<a href="/"><i class="dollar icon"></i>Todays Price</a>
					</li>
					<li>
						<a href="/Products"><i class="calendar alternate icon"></i>Products</a>
					</li>
					<li>
						<a href="/Goods" ><i class="plus icon"></i>Add My Product</a>
					</li>
					<li>
						<a href="/Register"> <i class="user plus icon"></i>Register</a>
						
					</li>
					<li>
						<button class="navbar-left" onclick="document.getElementById('id01').style.display='block'" id="navButton"><i class="sign in alternate icon"></i>Login</button>
					</li>
					
					<li>
						<a href="/Contact"><i class="phone icon"></i>Contact US</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<div class="row" style="margin-top: 2%;"></div>
<div class="ui horizontal divider"></div>