<div class="ui modal" id="toPrice">
  <i class="close icon"></i>
  <div class="header">
    Profile Picture
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
    </div>
    <div class="description">
      <div class="ui header">We've auto-chosen a profile image for you.</div>
      <form method="POST" action="">
        <button type="submit" class="ui button basic grey">Inflation rate</button>
        </form>
      
      <div class="ui horizontal divider">Revenue</div>
      <form class="ui form" action="/Revenue" method="POST">
        <div class="field">
          <label>Initial date </label>
          <input type="text" name="inidate" placeholder="yyyy-mm-dd">
        </div>
        <div class="field">
          <label>Final date</label>
          <input type="text" name="findate" placeholder="yyyy-mm-dd">
        </div>
        <button class="ui button basic grey" type="submit">Submit</button>
      

    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>